!XTerm.vt100.utf8: true
XTerm.vt100.locale: true
!alternative: Source Code Pro or terminus X-Font (or Proggy Square)
!XTerm.vt100.faceName: Droid Sans Mono
XTerm.vt100.faceName: Source Code Pro
XTerm.vt100.faceSize: 11
XTerm.vt100.faceSize1: 1
XTerm.vt100.faceSize2: 4
XTerm.vt100.faceSize3: 6
XTerm.vt100.faceSize4: 8
XTerm.vt100.faceSize5: 15
XTerm.vt100.faceSize6: 20
!terminus sizes: 12,14,16,17,18,20,22,24,28,32
!XTerm.vt100.font: -*-terminus-*-*-*-*-12-*-*-*-*-*-iso10646-1
XTerm.vt100.showBlinkAsBold: true
XTerm.vt100.scrollTtyOutput: false
XTerm.vt100.scrollKey: true
XTerm.vt100.scrollBar: true
XTerm.termName: xterm-256color
*customization: -color
!enables scrolling with mousewheel when viewing man (or less)
XTerm.vt100.alternateScroll: true


!!see https://gist.github.com/XVilka/8346728#gistcomment-2321001
!in recent xterm (v331+) it might be possible to set color values directly with special escape
!sequences: (see CSI Pm m Character Attributes (SGR) in control sequence manual)
!CSI 38 ; 2 ; R ; G ; B m
!CSI 38 ; 2 ; R : G : B m
!CSI 38 ; 2 : R : G : B m
!CSI 38 ; 2 : Colorspace : R : G : B m
!To actually render those values directly, the resource directColor has to be set to true (and
!support for it has to be compiled in)
!If not, the values will be mapped to the closest color from the configures 256 colors
!ubuntu 18 ships with xterm v330, debian 9 ships 327

!!{{{https://github.com/solarized/xresources
!!Copyright (c) 2011 Ethan Schoonover
!!MIT license
!! Solarized colors
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

XTerm*background:            S_base03
XTerm*foreground:            S_base0
XTerm*fadeColor:             S_base03
XTerm*cursorColor:           S_base1
XTerm*pointerColorBackground:S_base01
XTerm*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
XTerm*color0:  S_base02
XTerm*color8:  S_base03
!! red dark/light
XTerm*color1:  S_red
XTerm*color9:  S_orange
!! green dark/light
XTerm*color2:  S_green
XTerm*color10: S_base01
!! yellow dark/light
XTerm*color3:  S_yellow
XTerm*color11: S_base00
!! blue dark/light
XTerm*color4:  S_blue
XTerm*color12: S_base0
!! magenta dark/light
XTerm*color5:  S_magenta
XTerm*color13: S_violet
!! cyan dark/light
XTerm*color6:  S_cyan
XTerm*color14: S_base1
!! white dark/light
XTerm*color7:  S_base2
XTerm*color15: S_base3
!!!}}}
